@charset "utf-8";

/*主页样式*/


/*轮播样式*/

.banner .login-form {
	width: 270px;
	height: 340px;
	top: 30px;
	right: 170px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 20px 13px 0px;
}

.banner form h3 {
	height: 44px;
	line-height: 44px;
	color: #fff;
	border-bottom: 1px solid #fff;
	font-size: 18px;
	margin-bottom: 10px;
}

.banner form input[type=text] {
	background: url(../img/png_reg.png) no-repeat 8px 10px;
}

.banner form input[type=password] {
	background: url(../img/png_reg.png) no-repeat 8px -36px;
}

.banner p {
	line-height: 50px;
	color: #fff;
}

.banner p a {
	color: #fff;
}

.banner p button {
	width: 100%;
	height: 40px;
	background: #2984e1;
	border: none;
	border-radius: 5px;
	color: #FFF;
}

.banner p.register {
	text-align: center;
}

.banner input {
	width: 240px;
	height: 36px;
	background: transparent;
	border: 1px solid #fff;
	outline: none;
	padding-left: 28px;
	color: #fff;
}

.banner input[type=checkbox] {
	width: 15px;
	vertical-align: middle
}

.swiper-container img {
	vertical-align: middle;
	height: 400px;
	width: 100%;
	min-width: 1140px;
}

.swiper-container {
	height: 410px;
	background-color: #f3f3f3;
}

.swiper-container .swiper-button-prev {
	background: url(../img/prve.png) no-repeat center;
	width: 56px;
	height: 56px;
	left: 45px;
}

.swiper-container .swiper-button-next {
	background: url(../img/next.png) no-repeat center;
	width: 56px;
	height: 56px;
	right: 45px;
}

.swiper-container .swiper-pagination-bullet {
	border-radius: 0;
}

.swiper-container .swiper-pagination-bullet-active {
	background: #fff;
}

.swiper-container .swiper-pagination {
	bottom: 30px !important;
}
/*表单控件错误样式*/
label.error{
	position: absolute;
	text-align: center;
	font-size: 12px;
	width: 94px;
	height: 23px;
	line-height: 16px;
	top: 8px;
	right: 1px;
	color: #2984e1;
	background: url(../img/tip.png) no-repeat center;
}


/*新闻列表样式*/

.news .container {
	padding: 50px 40px;
	display: flex;
}

.news .information,
.news .notice {
	flex: 1;
}

.news .notice {
	padding-left: 70px;
}

.news h3 {
	height: 38px;
	line-height: 38px;
	font-size: 20px;
	color: #2984e1;
	padding-left: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	margin-bottom: 20px;
}

.news li {
	height: 30px;
	line-height: 30px;
	color: #707770;
}

.news .information ul {
	border-right: 1px solid #dddddd;
	padding-right: 70px;
}

.news h3 a {
	color: #2984e1;
	font-size: 14px;
}

.news .information h3 {
	background-image: url(../img/news.png);
	padding-right: 70px;
}

.news .notice h3 {
	background-image: url(../img/teach.png);
	padding-left: 70px;
}


/*培训项目样式*/

.project {
	background: #f9f9f9;
}

.project .container {
	text-align: center;
	padding: 40px 0;
}

.project h3 {
	color: #2984e1;
	font-size: 30px;
	margin-bottom: 20px;
}

.project p {
	color: #9c9999;
}

.project ul {
	display: flex;
	justify-content: space-around;
	margin: 40px 0;
}

.project ul p {
	padding: 5px 40px;
}

.project ul li {
	flex: 1 1 auto;
	position: relative;
}

.project li img {
	width: 270px;
	height: 170px;
}

.project a {
	color: #2991e5;
}


/*师资团队样式*/

.team {
	position: relative;
	text-align: center;
	padding: 40px 0;
}

.team h3 {
	font-size: 30px;
	color: #2984e1;
	margin-bottom: 20px;
}

.team h3+p {
	margin-bottom: 40px;
	color: #999999;
}

.team a.more {
	display: block;
	margin-top: 40px;
	color: #2984e1;
}

.team .swiper-team {
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
}

.team .swiper-slide {
	padding-top: 5px;
}

.team .swiper-slide strong {
	margin: 3px;
}

.team .swiper-slide:hover img {
	transform: scale(1.05);
}

.team .swiper-slide p {
	margin: 0 35px;
	white-space: pre-wrap;
	text-overflow: ellipsis;
	color: #a3a4a3;
}

.team .swiper-team-button-prev {
	cursor: pointer;
	background: url(../img/h-add-normal2.png) no-repeat center;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 130px;
	transform: translateY(-50%);
	z-index: 1000;
}

.team .swiper-team-button-next {
	cursor: pointer;
	background: url(../img/h-add-normal.png) no-repeat center;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	right: 130px;
	transform: translateY(-50%);
	z-index: 1000;
}

.team .swiper-team-button-next:hover {
	background-image: url(../img/h-add-hover.png);
}

.team .swiper-team-button-prev:hover {
	background-image: url(../img/h-add-hover2.png);
}


/*首页底部样式*/

.footer {
	color: #939393;
	background: #f9f9f9;
	padding-top: 10px;
	padding-bottom: 25px;
}

.footer .container {
	padding: 0 45px;
}

.footer .link {
	border-bottom: 1px solid #efefef;
	padding: 12px 0;
}

.footer .link strong {
	color: #000;
	font-weight: bold;
}

.footer .content {
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
}

.footer .content p {
	line-height: 25px;
}

.footer .hotline strong.hot-phone {
	color: #ff7a22;
	font-size: 25px;
}

.footer .hotline strong {
	font-weight: bold;
	color: #000;
	font-size: 18px;
	vertical-align: middle;
	margin-right: 5px;
}

.footer .hotline p:nth-child(2) {
	margin-bottom: 40px;
}

.footer .server {
	flex: 1;
	margin-top: 15px;
	margin-left: 100px;
	display: flex;
	justify-content: space-around;
}

.footer .server dl {
	flex: 1;
}

.footer .server dt {
	color: #000000;
	font-size: 16px;
	margin-bottom: 20px;
}

.footer .server dd {
	line-height: 30px;
}

.footer .qrcode {
	margin-top: 10px;
	margin-right: 30px;
}

.footer .copyright {
	text-align: center;
}

.footer .copyright p {
	line-height: 20px;
}