@charset "utf-8";

/*新闻列表样式*/

.news {
	font-size: 16px;
	margin: 50px 0 10px;
	min-height: 480px;
}

.news .container {
	width: 1060px;
}

.news a {
	font-size: 16px;
	color: #818282;
}

.news .news-title {
	width: 180px;
	background: #f5f5f5;
}

.news .news-title li {
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px dashed #ddd;
	border-left: 2px solid transparent;
}
.news .news-title li:hover,.news .news-title li.on{
	border-left-color: #0b57a3;
	background: #fff;
}

.news .news-title a {
	display: block;
}
.news .news-detail{
	margin-left: 250px;
	margin-right: 20px;
}
.news .news-detail li{
	border-bottom: 1px dashed #ddd;
	padding: 20px 15px;
}
.news .news-detail p{
	color: #999;
	font-size: 12px;
	line-height: 26px;
}
.news .news-detail span{
	font-size: 14px;
}
.news .news-detail a{
	color: #494949;
}
