@charset "utf-8";

/*学习指南样式*/

.first{
	background: radial-gradient(#6552b3,#6552f3);
}
.first .main{
	padding-top: 100px;
	height: 100%;
	text-align: center;
	overflow: hidden;
}
.first h2{
	font-size: 50px;
	padding: 50px;
	color: #fff;
}
.first p{
	font-size: 24px;
	color: #fff;
	padding: 30px;
}

.first .img img{
	margin-right: 63px;
	border: 10px solid #fff;
	border-radius: 10px;
}

.first .tab a{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #fff;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
}
.second{
	background: hotpink;
	text-align: center;
}
.second h2{
	color: #fff;
	font-size: 50px;
	padding: 50px 0;
}
.second video{
	border: 10px solid #fff;
	border-radius: 10px;
}
#fp-nav ul li a{
	width: 100px !important;
	padding-left: 20px;
	color: #fff;
	font-size: 14px;
}
